PORT=4002
CORS_ORIGIN=http://localhost:3000
FIREBASE_PROJECT_ID=rraasi-8a619
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@rraasi-8a619.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
