node_modules
.next
.git
.ds_store
*.pem
*.key
.env
.env.local
.gcloudignore
auth-server
marketing-server
mobile_app
livekit_server
astrology_backend
scripts
nginx
mobile_app
livekit_server
astrology_backend
mobile_app
livekit_server
astrology_backend
auth-server
marketing-server
